In [2]:
#Syntax
# b = open('<file_name>','<modes'>)
# b.close()

In [3]:
# #Syntax
# with open('<file_name>','<modes>') as f:
#     <operation>

In [4]:
# r-> read 
# a-> append 
# w-> write
# x-> create

In [7]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("Error Occured")

Error Occured

In [14]:
try:
    b = open('data.txt','r')
    data = b.read()
    print(data)
    print(type(data))
    b.close()
except:
    print("Error Occured")

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
<class 'str'>

In [16]:
import math as m
try:
    x = int(input("Enter x = "))
    print(m.pow(x,2))
except:
    print("Entre only int data")

Enter x = asdasd
Entre only int data

In [20]:
b = open('datas.txt','w')
b.write("Hello World I am Python")
b.close()

In [22]:
n = int(input("Enter n = "))
bill = ""
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill +data
    
print(bill)

Enter n = 2
Enter name = Ram
Enter price = 100
Enter quantity = 2
Enter name = Momo
Enter price = 150
Enter quantity = 2
Ram 100 2 200
Momo 150 2 300

In [24]:
b = open('datas.txt','w')
b.write('Product,Price,Quantity,Total\n')
b.write(bill)
b.close()

In [25]:
n = int(input("Enter n = "))
bill = ""
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name},{price},{quantity},{total}\n"
    bill = bill +data
    
print(bill)

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 2
Enter name = Momo
Enter price = 3
Enter quantity = 100
Coke,100,2,200
Momo,3,100,300

In [26]:
b = open('datas.csv','w')
b.write('Product,Price,Quantity,Total\n')
b.write(bill)
b.close()

In [28]:
file = open('datas.csv')
x = file.read()
print(x)
file.close()

Product,Price,Quantity,Total
Coke,100,2,200
Momo,3,100,300

In [31]:
x

'Product,Price,Quantity,Total\nCoke,100,2,200\nMomo,3,100,300\n'

In [33]:
data = x.split('\n')[0:-1]
data

['Product,Price,Quantity,Total', 'Coke,100,2,200', 'Momo,3,100,300']

In [36]:
final_data = []
for i in data:
    y = i.split(',')
    final_data.append(y)
    
final_data

[['Product', 'Price', 'Quantity', 'Total'],
 ['Coke', '100', '2', '200'],
 ['Momo', '3', '100', '300']]

In [37]:
final_data[1]

['Coke', '100', '2', '200']

In [41]:
product_name = input("Enter product name = ").lower()
for i in final_data:
    if product_name in i[0].lower():
        print(i)

Enter product name = momo
['Momo', '3', '100', '300']

In [45]:
b = open('datas.csv')
print(b.read())
b.close()

Product,Price,Quantity,Total
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300
Coke,100,2,200
Momo,3,100,300

In [46]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

   Product  Price  Quantity  Total
0     Coke    100         2    200
1     Momo      3       100    300
2     Coke    100         2    200
3     Momo      3       100    300
4     Coke    100         2    200
5     Momo      3       100    300
6     Coke    100         2    200
7     Momo      3       100    300
8     Coke    100         2    200
9     Momo      3       100    300
10    Coke    100         2    200
11    Momo      3       100    300
12    Coke    100         2    200
13    Momo      3       100    300
14    Coke    100         2    200
15    Momo      3       100    300

In [ ]:
# WAP to create a csv file for result management system using CRUD