In [2]:
# # List
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Mutable

In [5]:
l = [1,2,3,4]
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

In [9]:
a = ["Apple","Ball","Cat","Dog"]
print(a[2])

Cat

In [10]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [12]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:4:2])

['Apple', 'Cat']

In [13]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [14]:
a = ["Apple","Ball","Cat","Dog","Apple",1,2]
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 1, 2]

In [16]:
a = ["Apple","Ball"]
b = ["Cat","Dog"]
c = b+a
print(c)

['Cat', 'Dog', 'Apple', 'Ball']

In [18]:
a = ["Apple","Ball","Cat","Dog","Apple"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Apple']

In [19]:
# append() insert() extend()

In [20]:
# a = []
a = list()
a.append("Apple")
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [21]:
a = ['Apple', 'Ball', 'Cat']
a.insert(1,"Ant")
a

['Apple', 'Ant', 'Ball', 'Cat']

In [22]:
a = ['Apple', 'Ball', 'Cat']
a.append("Dog")
a

['Apple', 'Ball', 'Cat', 'Dog']

In [24]:
a = ['Apple', 'Ball', 'Cat']
b = ["Dog","Cat","Fish"]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Cat', 'Fish']

In [25]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
    
print(a)

Enter n = 5
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = dog
Enter x = Fish
['Apple', 'Ball', 'Cat', 'dog', 'Fish']

In [26]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 5
Enter x = 123
Enter x = 24
Enter x = 123
Enter x = 234
Enter x = 123
[123, 24, 123, 234, 123]

In [30]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum of the nos = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The max value =  234
The min value =  24
The sum of the nos =  627
[24, 123, 123, 123, 234]
[234, 123, 123, 123, 24]

In [ ]:
print("min =", a[0])
print("max = ",a[-1])

In [1]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
    
print(a)

Enter n = 5
Enter x = Apple
Enter x = xray
Enter x = Zebra
Enter x = Banana
Enter x = yak
['Apple', 'xray', 'Zebra', 'Banana', 'yak']

In [2]:
a.sort()
print(a)

['Apple', 'Banana', 'Zebra', 'xray', 'yak']

In [4]:
# Update
a = ['Apple', 'Banana', 'Zebra', 'xray', 'yak']
a[0] = "Ant"
a

['Ant', 'Banana', 'Zebra', 'xray', 'yak']

In [5]:
# del remove() pop()

In [7]:
a = ['Ant', 'Banana', 'Zebra', 'xray', 'yak']
del a[0]
print(a)

['Banana', 'Zebra', 'xray', 'yak']

In [9]:
a = ['Ant', 'Banana', 'Zebra', 'xray', 'yak']
del a[1:3]
print(a)

['Ant', 'xray', 'yak']

In [10]:
a = ['Ant', 'Banana', 'Zebra', 'xray', 'yak']
a.remove("Ant")
print(a)

['Banana', 'Zebra', 'xray', 'yak']

In [12]:
a = ['Ant', 'Banana', 'Zebra', 'xray','Ant', 'yak']
a.remove("Ant")
print(a)

['Banana', 'Zebra', 'xray', 'yak']

In [14]:
b = []
a = ['Ant', 'Banana', 'Zebra', 'xray','Ant', 'yak']
for i in a:
    if i != "Ant":
        b.append(i)
        
b

['Banana', 'Zebra', 'xray', 'yak']

In [15]:
a = ['Ant', 'Banana', 'Zebra', 'xray','Ant', 'yak']
for i in range(len(a)):
    if a[i] == "Ant":
        print(i)

0
4

In [19]:
a.count("Ant"),a.count("xray")

(2, 1)

In [3]:
# list inside list 
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [5]:
print(a[0])
print(a[1])
print(a[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [7]:
a = [[1,2,3,4,5],
    [4,5,6],
    [7,8]]
print(len(a))

3

In [9]:
a = [[1,2,3,4,5],
    [4,5,6],
    [7,8]]
b = [[1,1,1]]
c = a+b
print(c)

[[1, 2, 3, 4, 5], [4, 5, 6], [7, 8], [1, 1, 1]]

In [11]:
a = [["Ram",23,"Kathmandu"],
    ["Shyam",34,"Pokhara"],
    ["Nabin",24,"Bhaktapur"]]
a

[['Ram', 23, 'Kathmandu'],
 ['Shyam', 34, 'Pokhara'],
 ['Nabin', 24, 'Bhaktapur']]

In [14]:
print(a[2])

['Nabin', 24, 'Bhaktapur']

In [29]:
a = ["Apple","Ball","Cat"]
for i in a:
    print(i)

Apple
Ball
Cat

In [15]:
for i in a:
    print(i)

['Ram', 23, 'Kathmandu']
['Shyam', 34, 'Pokhara']
['Nabin', 24, 'Bhaktapur']

In [28]:
a = [['Ram', 23, 'Kathmandu'],
 ['Shyam', 34, 'Pokhara'],
 ['Nabin', 24, 'Bhaktapur']]
a[0][0]

'Ram'

In [20]:
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Kathmandu
['Ram', 23, 'Kathmandu']

In [25]:
name = input("Enter name = ").lower()
for i in a:
    if name in i[0].lower():
        print(i)

Enter name = ram
['Ram', 23, 'Kathmandu']

In [30]:
# name 
# age 
# add
# [['Ram', 23, 'Kathmandu'],
#  ['Shyam', 34, 'Pokhara'],
#  ['Nabin', 24, 'Bhaktapur']]

In [31]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    a.append(data)

print(a)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Sjyam
Enter age = 34
Enter add = Baluwatar
[['Ram', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]

In [34]:
#Update
a = [['Ram', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]
a[0] = ['Rama',33,'Lalitpur']
a

[['Rama', 33, 'Lalitpur'], ['Sjyam', 34, 'Baluwatar']]

In [35]:
#Update
a = [['Ram', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]
a[0][0] = 'Rama'
a

[['Rama', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]

In [36]:
a = [['Ram', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]
del a
print(a)

NameError: name 'a' is not defined

In [38]:
a = [['Ram', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]
a.clear()
print(a)

[]

In [40]:
a = [['Ram', 34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]
del a[0][0]
print(a)

[[34, 'Kathmandu'], ['Sjyam', 34, 'Baluwatar']]

In [2]:
bill = [['Name','Price','Quantity','Total']]
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter name = ")
    price  = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = [product,price,quantity,total]
    bill.append(data)
    
print(bill)

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 2
Enter name = Momo
Enter price = 150
Enter quantity = 2
[['Name', 'Price', 'Quantity', 'Total'], ['Coke', 100, 2, 200], ['Momo', 150, 2, 300]]

In [3]:
a = "Apple","Ant"
a

('Apple', 'Ant')

In [4]:
# a = [['Coke', 100, 2, 300], ['Momo', 150, 2, 300],["Pizza",300,2,600]]
# WAP to create a matrix 
# row = ?
# col = ?

In [ ]:
m = [ [1,2,3],[4,5,6]]
n =[]

In [1]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    n = []
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)
print(m)

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9

In [2]:
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    for j in range(c):
        n = []

        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)

Enter r = 2
Enter c = 2
Enter x = 234
Enter x = 34
Enter x = 23
Enter x = 345

In [4]:
print(m)

[[34], [345]]