In [2]:
# # string
# -sequence of char
# -Imutable data type

In [3]:
a = "Hello World"
print(type(a))
print(a)

<class 'str'>
Hello World

In [4]:
# + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [26]:
# String Slicing
a = "hello World"
print(a[-3])

r

In [15]:
a = "hello World"
print(a[0:6])

hello

In [17]:
a = "hello World"
x = a[:6]
y = a[6:]
print(x)
print(y)

hello
World

In [20]:
a = "hello World"
a[0:11:2]

'hloWrd'

In [22]:
a = "hello World"
a[11::-1]

'dlroW olleh'

In [33]:
a = "hello World"
a[-1::-1]

'dlroW olleh'

In [29]:
a = "hello World"
a[::-1]

'dlroW olleh'

In [31]:
a = "hello World"
a[0:4]

'hell'

In [34]:
name = input("Enter name = ")
add = input("Enter add = ")
age = int(input("Enter age = "))

info = "Hello World I am "+name+". I am from "+add +" I am "+str(age)
print(info)

Enter name = Ram
Enter add = Kathmandu
Enter age = 34
Hello World I am Ram. I am from Kathmandu I am 34

In [39]:
# String formatting
a = "Hello "
b = 7
c = f"{a} {b}"
print(c)

Hello  7

In [38]:
name = input("Enter name = ")
add = input("Enter add = ")
age = int(input("Enter age = "))

info = f"Hello World I am {name}. I am from {add} I am {age}"
print(info)

Enter name = Ram
Enter add = Kathmandu
Enter age = 34
Hello World I am Ram. I am from Kathmandu I am 34

In [43]:
a = "Ram Shyam Hari Gita Nita Shyam"
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
1

In [49]:
a = "Ram Shyam Hari Gita Nita Shyam"
search = input("Enter search = ")

if search in a:
    print("Yes",a.count(search))

Enter search = Ram Hari

In [51]:
a = "Ram Shyam Hari Gita Nita Shyam"
print(a.lower())
print(a.upper())

ram shyam hari gita nita shyam
RAM SHYAM HARI GITA NITA SHYAM

In [52]:
print(a)

Ram Shyam Hari Gita Nita Shyam

In [1]:
# WAP to develop a billing stystem
# name 
# price
# quantity
# total 

# grand total

In [3]:
grand_total = 0
n = int(input("Enter n = "))
bill = ""
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill +data
    
print(bill)
print(grand_total)

Enter n = 2
Enter name = Momo
Enter price = 200
Enter quantity = 3
Enter name = Coke
Enter price = 100
Enter quantity = 4
Momo 200 3 600
Coke 100 4 400

1000

In [6]:
a = "Ram Shyam Hari Gita Nita Shyam".lower()
search = input("Enter search = ").lower()

if search in a:
    print("Yes",a.count(search))

Enter search = ram
Yes 1

In [8]:
a = "Ram Shyam Hari Gita Nita Shyam"
a = a.replace('Ram','Rama')
a

'Rama Shyam Hari Gita Nita Shyam'

In [11]:
a = "Ram Shyam Hari Gita Nita Shyam"
a[3:]

' Shyam Hari Gita Nita Shyam'

In [14]:
a = "Ram Shyam Hari Gita Nita Shyam"
b = a[0:10]
c = a[14:]
print(b+c)

Ram Shyam  Gita Nita Shyam

In [15]:
a = "Ram Shyam Hari Gita Nita Shyam"
a = a.replace('Ram','')
a

' Shyam Hari Gita Nita Shyam'

In [16]:
a = "ram shyam hari gita nita shyam"
a.title()

'Ram Shyam Hari Gita Nita Shyam'

In [18]:
a = "Python"
for i in a:
    print(i,end = "")

Python

In [19]:
a = "Ram Shyam Hari Gita Nita Shyam"
a.split()

['Ram', 'Shyam', 'Hari', 'Gita', 'Nita', 'Shyam']

In [21]:
a = "Ram-Shyam-Hari-Gita-Nita-Shyam"
a.split('-')

['Ram', 'Shyam', 'Hari', 'Gita', 'Nita', 'Shyam']

In [ ]:
# WAP to create a result management syatem