In [1]:
# Tuple
# -Indexed
# -Ordered
# -Duplicate and Multiple
# -Imutable

In [2]:
a = (1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [6]:
a = (1,2,3,4,5)
print(a[2])

3

In [9]:
a = (1,2,3,4)
b = (3,4,5)
c = a+b
print(c)

(1, 2, 3, 4, 3, 4, 5)

In [10]:
# # No update delete 
# no append() extend() insert()
# no del remove() pop()
# no sort()

In [14]:
a = ("Apple",)
type(a)

tuple

In [17]:
a =()
b = ("Apple",)
c = ("Ball",)
d = a+b+c
d

('Apple', 'Ball')

In [18]:
a = ('Apple', 'Ball')
b = list(a)
b

['Apple', 'Ball']

In [25]:
a = ('Apple', 'Ball')
b = list(a)
del b[0]
a = tuple(b)
a

('Ball',)

In [26]:
a = tuple("Hello World")
a

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [27]:
a = list("Hello World")
a

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [28]:
a = ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
str(a)

"['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']"

In [29]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a = a+(x,)
    
print(a)

Enter n = 2
Enter x = Apple
Enter x = Ball
('Apple', 'Ball')

In [ ]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))

In [30]:
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(list(a))

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [33]:
a = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
a[0] = (11,22,33)
a

[(11, 22, 33), (4, 5, 6), (7, 8, 9)]

In [34]:
a = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
a[0] = (11,2,3)
a

[(11, 2, 3), (4, 5, 6), (7, 8, 9)]

In [37]:
a = ([1,2,3],[4,5,6],[7,8,9])
a[0]

[1, 2, 3]

In [39]:
a = ([1,2,3],[4,5,6],[7,8,9])
a[0][0] = 11
a

([11, 2, 3], [4, 5, 6], [7, 8, 9])

In [2]:
# WAP to create tuple inside tuple
# a = ((1,2,3),
#      (4,5,6),
#      (7,8,9))

m = ()
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    n = ()
    for j in range(c):
        x = int(input("Enter x = "))
        n = n+(x,)
    m = m +(n,)
    
print(m)

Enter r = 2
Enter c = 2
Enter x = 1234
Enter x = 243
Enter x = 23
Enter x = 24
((1234, 243), (23, 24))

In [ ]:
# a = {'Ram':89,'Shyam':86,'Hari':30}