In [1]:
# # dict
# -indexed
# -Multiple value and Duplicate values
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>,<Key>:<value>}

In [3]:
d = {1:"Apple",2:"Ball",3:"Cat"}
print(d)
print(type(d))

{1: 'Apple', 2: 'Ball', 3: 'Cat'}
<class 'dict'>

In [4]:
d = {"a":"Apple","b":"Ball"}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball'}
<class 'dict'>

In [7]:
d = {"a":"Apple","b":"Ball"}
d["b"]

'Ball'

In [9]:
d = {"a":"Apple","b":"Ball"}
print(len(d))

2

In [11]:
d = {"a":"Apple","b":"Ball","A":"Apple"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'A': 'Apple'}

In [12]:
d = {"a":"Apple","b":"Ball","a":"Ant"}
print(d)

{'a': 'Ant', 'b': 'Ball'}

In [14]:
# d = dict()
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
d ={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d.values()

dict_values(['Apple', 'Ball', 'Cat'])

In [20]:
for i in d:
    print(i)

a
b
c

In [16]:
for i in d.values():
    print(i)

Apple
Ball
Cat

In [17]:
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [22]:
d = [('a', 'Apple'),('b', 'Ball'),('c', 'Cat')]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [23]:
# WAP to input phoene no and name by using dict
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[phone] = name
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9878778654
Enter name = Shyam
Enter phone = 9867667654
{9878778654: 'Ram', 9867667654: 'Shyam'}

In [25]:
d = {9878778654: 'Ram', 9867667654: 'Shyam'}
d[9878778651] = "Hari"
d

{9878778654: 'Ram', 9867667654: 'Shyam', 9878778651: 'Hari'}

In [26]:
# del pop
a = {9878778654: 'Ram', 9867667654: 'Shyam', 9878778651: 'Hari'}
del a[9878778654]
a

{9867667654: 'Shyam', 9878778651: 'Hari'}

In [28]:
a = {9878778654: 'Ram', 9867667654: 'Shyam', 9878778651: 'Hari'}
b = a.pop(9878778654)
print(a)
print(b)

{9867667654: 'Shyam', 9878778651: 'Hari'}
Ram

In [29]:
# list inside dict
a = {"Ram":[9841887876,9808667654],
    "Shyam":[9867667654,9808778765]}
a

{'Ram': [9841887876, 9808667654], 'Shyam': [9867667654, 9808778765]}

In [ ]:
# list inside dict
a = {"Ram":(9841887876,9808667654),
    "Shyam":(9867667654,9808778765)}
a

In [ ]:
# dict inside list
a = [{'Name':"Ram","Age":23},
    {"Name":"Shyam","Age":45}]

In [ ]:
# dict inside tuple
a = ({'Name':"Ram","Age":23},
    {"Name":"Shyam","Age":45})

In [ ]:
# list inside dict
a = {"Ram":[9841887876,9808667654],
    "Shyam":[9867667654,9808778765]}
a

In [1]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell"))
    value  = [ntc,ncell]
    key = name
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc = 3453534534
Enter ncell34534534
Enter name = Shyam
Enter ntc = 4234234
Enter ncell34534534
{'Ram': [3453534534, 34534534], 'Shyam': [4234234, 34534534]}

In [2]:
d = {[3453534534, 34534534]:'Ram', 'Shyam': [4234234, 34534534]}
d

TypeError: unhashable type: 'list'

In [3]:
d = {(3453534534, 34534534):'Ram', 'Shyam': [4234234, 34534534]}
d

{(3453534534, 34534534): 'Ram', 'Shyam': [4234234, 34534534]}

In [5]:
d = {'Ram': [3453534534, 34534534], 'Shyam': [4234234, 34534534]}
d['Ram']

[3453534534, 34534534]

In [6]:
d = {'Ram': [3453534534, 34534534], 'Shyam': [4234234, 34534534]}
d['Ram'] = [9808667654,9854667654]
d

{'Ram': [9808667654, 9854667654], 'Shyam': [4234234, 34534534]}

In [9]:
d = {'Ram': [3453534534, 34534534], 'Shyam': [4234234, 34534534]}
# d['Ram'] = [9808667654,9854667654]
d['Ram'][0] = 9808000000
d

{'Ram': [9808000000, 34534534], 'Shyam': [4234234, 34534534]}

In [11]:
d = {'Ram': [3453534534, 34534534], 'Shyam': [4234234, 34534534]}
del d['Ram'][1]
d

{'Ram': [3453534534], 'Shyam': [4234234, 34534534]}