In [2]:
a = 11
b = 2.5
c = "Hello World"
d = True

print(a)
print(b)
print(c)
print(d)

print(a,b,c,d)

11
2.5
Hello World
True
11 2.5 Hello World True

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
#  + - * / ** // %

In [11]:
a = 10
b = 3
c = a//b
print(c)

3

In [12]:
a = 10
b = 3
c = a%b
print(c)

1

In [13]:
p = 10000
t = 2.5
r = 10.5

i = p*t*r/100
print(i)

2625.0

In [14]:
a = input()

100

In [3]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a +b
print(c)

Enter a = Aayush
Enter b = Adhikari
Aayush Adhikari

In [16]:
a = "10"
int(a)

10

In [1]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a + b
print(c)

Enter a = 10
Enter b = 2
12

In [6]:
a = 10
b = str(a)
c = float(a)
print(a)
print(b)
print(c)

10
10
10.0

In [8]:
"10" + "10"

'1010'

In [9]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print(i)

Enter p = 1000
Enter t = 2.5
Enter r = 10.4
260.0

In [10]:
name = input("Enter name = ")
add = input("Enter add = ")

print("Hello World I am",name,"I am from ",add)

Enter name = Ram
Enter add = Kathmandu
Hello World I am  Ram I am from  Kathmandu

In [11]:
name = input("Enter name = ")
add = input("Enter add = ")

info = "Hello World I am "+name+". I am from "+add
print(info)

Enter name = Ram
Enter add = Kathmandu
Hello World I am Ram. I am from Kathmandu

In [14]:
name = input("Enter name = ")
add = input("Enter add = ")
age = int(input("Enter age = "))

info = "Hello World I am "+name+". I am from "+add +" I am "+str(age)
print(info)

Enter name = Ram
Enter add = Kathmandu
Enter age = 23
Hello World I am Ram. I am from KathmanduI am 23

In [18]:
a = "Hello World\t"
print(a*2)

Hello World	Hello World

In [19]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World